<% if user_signed_in? %>
	<div class="container">
		<h1>My photographies</h1>
		<p>
			<%= link_to 'Add new photo', new_photography_path %>
		</p>
		<table class="table">
			<tr>
				<th>Photography</th>
				<th>Name</th>
				<th>Author</th>
				<th colspan="3">Actions</th>
			</tr>
			<% @photographies.each do |photography| %>
				<% if photography.user == current_user %>
					<tr>
						<td><%= image_tag photography.image.url(:thumb) %></td>
						<td><%= photography.name %></td>
						<td><%= photography.user.name %></td>
						<td><%= link_to 'измненить', edit_photography_path(photography) %></td>	
						<td><%= link_to 'просмотр', photography_path(photography) %></td>				
						<td><%= link_to 'удалить', photography_path(photography), method: :delete, data: {confirm: 'Вы дествительно хотите удалить?'} %></td>	
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>

<% else %>
	<% @photographies.each do |photography| %>
		<div class="row-1">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <h5>Photo title:<img data-src="holder.js/300x200" alt="<%= photography.name %>"></h5>
		      <div class="caption">
					<%= image_tag photography.image.url(:thumb) %>
					<h3>Author: <%= photography.user.name %></h3>
					<%= link_to 'просмотр', photography_path(photography) %>
		      </div>
		    </div>
		  </div>
		</div>
	<% end %>
<% end %>